<link href="/plugins/TeradataAnalyticsPlugin/resource/aster-ui.css" rel="stylesheet" type="text/css">
<div id="main-container">
   <h3>Teradata Analytics Framework</h3>
   <h3>Data Transformation</h3>
   <hr/>
   <br/>
   <div ng-controller="TeradataController">
      <div class="control-group" >
         <label class="control-label">Function Name</label>
         <div class="controls" >
            <!-- uncomment select with ng-init to set default -->
            <select ng-init="somethingHere = choices[1]" ng-model="config.function" ng-options="choice.name for choice in choices track by choice.name"/>
            <!--<select ng-model="config.function" ng-options="choice.name for choice in choices track by choice.name"/> -->
         </div>
      </div>
      <div class="control-group" >
         <label class="control-label">Description</label>
         <div class="controls" >
            <textarea ng-model="config.function.description" rows="5" cols="50"/>            
         </div>
      </div>
      <div class="control-group" >
         <label> Arguments </label> 
         <table border=1>
            <tr ng-if="config.function">
               <td>Use</td>
               <td>Name</td>
               <td>Description</td>
               <td>Value</td>
            </tr>
            <tr ng-repeat="item in config.function.arguments" ng-model="config.function.arguments">
               <td>
                  <input type="checkbox" ng-model ="item.is_Required" ng-checked="{{ item.is_Required }}"
                     /> 
               </td>
               <td>{{ item.name }} </td>
               <td> {{ item.desc }} </td>
               <td><input type="text" ng-model="item.value"/>
               </td>
            </tr>
         </table>
      </div>
   </div>
</div>