<link rel="stylesheet" href="/plugins/AsterAnalytics/resource/css/aster-ui.css">
<link rel="stylesheet" href="/plugins/AsterAnalytics/resource/css/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>

<div id="main-container">

  <div ng-controller="TeradataController" data-ng-init="getFunctionMetadata(config.function.name)">

    <div class="control-group">
      <label class="control-label">Function Name</label>
      <div class="controls">
        <select ng-model="config.function" ng-options="choice.name.split('_').join(' ').toLowerCase() for choice in choices track by choice.name"
          ng-change="getFunctionMetadata(config.function.name)">
          <option value="" disabled selected>Select an Aster function...</option>
        </select>
      </div>
    </div>

    <div class="control-group" ng-if="config.function">
      <label class="control-label">Description</label>
      <div class="controls" style="max-width: 40%; text-align: justify">
        {{ getFunctionDescription() }}
      </div>
    </div>

    <hr ng-if="config.function">

    <div class="control-group" ng-if="config.function">

      <div id="tabs">
        <ul>
          <li><a href="#tabs-required">Required Arguments</a></li>
          <li><a href="#tabs-optional" ng-if="hasOptionalArguments()">Optional Arguments</a></li>
        </ul>

        <div id="tabs-required">

          <table class="table table-condensed table-hover">

            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-if="config.function.isOrdered && shouldShowPartitionOrderFields(config.function.unaliased_inputs)">
                <td>ORDER BY Column</td>
                <td>
                  <select ng-model="config.function.orderByColumn" ng-options="column.name as column.name + ' (' + column.type + ')' for column in getSchemaOfUnaliasedInputs(config.function.unaliased_inputs)">
                    <option value="" selected>--No Selection--</option>
                  </select>
                </td>
              </tr>

              <tr ng-if="shouldShowPartitionOrderFields(config.function.unaliased_inputs) && config.function.partitionInputKind.indexOf('PartitionByAny') !== -1 && config.function.partitionInputKind.length > 1">
                <td>PARTITION BY ANY</td>
                <td>
                  <input type="checkbox" ng-model="config.function.partitionByAny"></input>
                </td>
              </tr>

              <tr ng-if="shouldShowPartitionOrderFields(config.function.unaliased_inputs) && config.function.partitionInputKind.indexOf('PartitionByKey') !== -1">
                <td>PARTITION BY Column</td>
                <td>
                  <select ng-disabled="config.function.partitionByAny" multiple size="8" ng-model="config.function.partitionAttributes" ng-options="column.name as column.name + ' (' + column.type + ')' for column in getSchemaOfUnaliasedInputs(config.function.unaliased_inputs)"
                    data-html="true" title="<b>(Ctrl+Click to multi-select)</b>" data-toggle="tooltip" data-container="body"
                    data-placement="right">
                    <option value="" selected>--No Selection--</option>
                  </select>
                </td>
              </tr>
              

              <tr ng-repeat="item in config.function.arguments" ng-model="config.function.arguments" ng-if="item.isRequired">
                <td style="text-transform: capitalize">{{ item.name.split('_').join(' ') | lowercase }}</td>
                <td>
                  <input type="text" ng-model="item.value" 
                  ng-if="(['STRING','DOUBLE','INTEGER','DRIVER','SQLEXPR', 'LONG'].indexOf(item.datatype) >= 0 || (item.datatype == 'TABLE_NAME' && isArgumentOutputTable(item))) && !item.allowsLists"
                    data-toggle="tooltip" data-container="body" title="{{ getArgumentDescription(config.function.name, item.name) }}"
                    data-placement="right" />

                  <input class="teradata-tags" ng-model="item.value" type="text"
                  ng-if="['STRING','DOUBLE','INTEGER','DRIVER','SQLEXPR', 'LONG'].indexOf(item.datatype) >= 0 && item.allowsLists"
                    data-toggle="tooltip" data-container="body" title="{{ getArgumentDescription(config.function.name, item.name) }}"
                    data-placement="right"></input>

                  <input type="checkbox" ng-model="item.value" ng-if="item.datatype == 'BOOLEAN'" data-toggle="tooltip" data-container="body"
                    title="{{ getArgumentDescription(config.function.name, item.name) }}" data-placement="right" />

                  <select ng-if="(item.datatype == 'COLUMN_NAMES' || item.datatype == 'COLUMNS') && !item.allowsLists" ng-model="item.value"
                    data-toggle="tooltip" 
                    data-container="body" 
                    title="{{ getArgumentDescription(config.function.name, item.name) }}"
                    data-placement="right" 
                    ng-options="column.name as column.name + ' (' + column.type + ')' for column in getSchema(item, config.function.required_input, config.function.unaliased_inputs, config.function.arguments)">
                    <option value="" selected>--No Selection--</option>
                  </select>

                  <select multiple size="8" ng-if="(item.datatype == 'COLUMN_NAMES' || item.datatype == 'COLUMNS') && item.allowsLists" ng-model="item.value"
                    data-toggle="tooltip" data-html="true" title="{{ getArgumentDescription(config.function.name, item.name) }}<br><br><b>(Ctrl+Click to multi-select)</b>"
                    data-placement="right" data-container="body" ng-options="column.name as column.name + ' (' + column.type + ')' for column in getSchema(item, config.function.required_input, config.function.unaliased_inputs, config.function.arguments)">
                    <option value="" selected>--No Selection--</option>
                  </select>

                  <select ng-if="item.datatype == 'TABLE_NAME' && !isArgumentOutputTable(item)" ng-model="item.value" data-toggle="tooltip" data-container="body"
                    title="{{ getArgumentDescription(config.function.name, item.name) }}" data-placement="right" 
                    ng-options="t.fullName.split('.')[1] as t.fullName.split('.')[1] for t in inputs">
                    <option value="" selected>--No Selection--</option>
                  </select>
                </td>
              </tr>

              <tr ng-if="shouldShowPartitionOrderFields(config.function.unaliased_inputs)">
                <td>UNALIASED INPUT TABLES</td>
                <td>
                  <select multiple size="8" ng-model="config.function.unaliased_inputs.values"
                    ng-options="t.fullName.split('.')[1] as t.fullName.split('.')[1] for t in inputs">
                      <option value="" selected>--No Selection--</option>
                  </select>
                </td>
              </tr>
              
              <tr ng-repeat="item in config.function.required_input" ng-model="config.function.required_input" ng-if="item.hasOwnProperty('name') && item.isRequired">
                <td style="text-transform: capitalize">{{ item.name.split('_').join(' ') | lowercase }} ({{item.kind}})</td>
                <td>
                  <select ng-model="item.value" ng-options="t.fullName.split('.')[1] as t.fullName.split('.')[1] for t in inputs">
                      <option value="" selected>--No Selection--</option>
                  </select>
                  <input style="margin-left: 4px;"
                    ng-show="'PartitionByKey' == item.kind" placeholder="partition column" type="text" ng-model="item.partitionAttributes" />
                  <input style="margin-left: 4px;"
                    ng-show="item.isOrdered" type="text" ng-model="item.orderByColumn" placeholder="order by column" />
                </td>
              </tr>

            </tbody>
          </table>

        </div>

        <div id="tabs-optional" ng-if="hasOptionalArguments()">

          <table class="table table-condensed table-hover">

            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="item in config.function.arguments" ng-model="config.function.arguments" ng-if="!item.isRequired">
                <td style="text-transform: capitalize">{{ item.name.split('_').join(' ') | lowercase }}</td>
                <td>
                  <input type="text" ng-model="item.value" 
                  ng-if="(['STRING','DOUBLE','INTEGER','DRIVER','SQLEXPR', 'LONG'].indexOf(item.datatype) >= 0 || (item.datatype == 'TABLE_NAME' && isArgumentOutputTable(item))) && !item.allowsLists"
                    data-toggle="tooltip" data-container="body" title="{{ getArgumentDescription(config.function.name, item.name) }}"
                    data-placement="right" />

                  <input class="teradata-tags" ng-model="item.value" type="text"
                  ng-if="['STRING','DOUBLE','INTEGER','DRIVER','SQLEXPR', 'LONG'].indexOf(item.datatype) >= 0 && item.allowsLists"
                    data-toggle="tooltip" data-container="body" title="{{ getArgumentDescription(config.function.name, item.name) }}"
                    data-placement="right"></input>

                  <input type="checkbox" ng-model="item.value" ng-if="item.datatype == 'BOOLEAN'" data-toggle="tooltip" data-container="body"
                    title="{{ getArgumentDescription(config.function.name, item.name) }}" data-placement="right" />

                  <select ng-if="(item.datatype == 'COLUMN_NAMES' || item.datatype == 'COLUMNS') && !item.allowsLists" ng-model="item.value"
                    data-toggle="tooltip" data-container="body" title="{{ getArgumentDescription(config.function.name, item.name) }}"
                    data-placement="right" ng-options="column.name as column.name + ' (' + column.type + ')' for column in getSchema(item, config.function.required_input, config.function.unaliased_inputs, config.function.arguments)">
                    <option value="" selected>--No Selection--</option>
                  </select>

                  <select multiple size="8" ng-if="(item.datatype == 'COLUMN_NAMES' || item.datatype == 'COLUMNS') && item.allowsLists" ng-model="item.value"
                    data-toggle="tooltip" data-html="true" title="{{ getArgumentDescription(config.function.name, item.name) }}<br><br><b>(Ctrl+Click to multi-select)</b>"
                    data-placement="right" data-container=body ng-options="column.name as column.name + ' (' + column.type + ')' for column in getSchema(item, config.function.required_input, config.function.unaliased_inputs, config.function.arguments)">
                    <option value="" selected>--No Selection--</option>
                  </select>

                  <select ng-if="item.datatype == 'TABLE_NAME' && !isArgumentOutputTable(item)" ng-model="item.value" data-toggle="tooltip" data-container="body" title="{{ getArgumentDescription(config.function.name, item.name) }}"
                    data-placement="right" ng-options="t.fullName.split('.')[1] as t.fullName.split('.')[1] for t in inputs">
                    <option value="" selected>--No Selection--</option>
                  </select>
                </td>
              </tr>
              <tr ng-repeat="item in config.function.required_input" ng-model="config.function.required_input" ng-if="item.hasOwnProperty('name') && !item.isRequired">
                <td style="text-transform: capitalize">{{ item.name.split('_').join(' ') | lowercase }} ({{item.kind}})</td>
                <td>
                  <select ng-model="item.value" ng-options="inputtable.fullName.split('.')[1] as inputtable.fullName.split('.')[1] for inputtable in inputs">
                      <option value="" selected>--No Selection--</option>
                  </select>
                  <input style="margin-left: 4px;"
                    ng-show="'PartitionByKey' == item.kind" placeholder="partition column" type="text" ng-model="item.partitionAttributes" />
                  <input style="margin-left: 4px;"
                    ng-show="item.isOrdered" type="text" ng-model="item.orderByColumn" placeholder="order by column" />
                </td>
              </tr>
            </tbody>

          </table>

        </div>

      </div>


    </div>

  </div>
</div>