<link rel="stylesheet" href="/plugins/AsterAnalytics/resource/css/aster-ui.css">
<link rel="stylesheet" href="/plugins/AsterAnalytics/resource/css/jquery-ui.css">
<div id="main-container">

  <div ng-controller="TeradataController" data-ng-init="getFunctionMetadata(config.function.name)">

    <div class="control-group">
      <label class="control-label">Function Name</label>
      <div class="controls">
        <select ng-model="config.function" 
          ng-options="choice.name.split('_').join(' ').toLowerCase() for choice in choices track by choice.name"
          ng-change="getFunctionMetadata(config.function.name)">
          <option value="" disabled selected>Select an Aster function...</option>
        </select>
      </div>
    </div>

    <div class="control-group" ng-if="config.function">
      <label class="control-label">Description</label>
      <div class="controls" style="max-width: 30%;">
        {{ getFunctionDescription() }}
      </div>
    </div>

    <hr ng-if="config.function">

    <div class="control-group" ng-if="config.function">

      <div id="tabs">
        <ul>
          <li><a href="#tabs-required">Required Arguments</a></li>
          <li><a href="#tabs-optional">Optional Arguments</a></li>
        </ul>

        <div id="tabs-required">

          <table class="table table-condensed table-hover">

            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>

            <tbody>

              <tr ng-if="config.function.isOrdered">
                <td>ORDER BY Column</td>
                <td>
                  <select ng-model="config.function.orderByColumn">
                <option value="" selected>--No Selection--</option>
                <option ng-repeat="column in schema" value="{{ column.name }}">{{ column.name }} ({{ column.type }})</option>
              </select>
                </td>
              </tr>

              <tr ng-if="config.function.partitionInputKind.indexOf('PartitionByAny') !== -1 && config.function.partitionInputKind.length > 1">
                <td>PARTITION BY ANY</td>
                <td>
                  <input type="checkbox" ng-model="config.function.partitionByAny"></input>
                </td>
              </tr>
              
              <tr ng-if="config.function.partitionInputKind.indexOf('PartitionByKey') !== -1">
                <td>PARTITION BY Column</td>
                <td>
                  <select ng-disabled="config.function.partitionByAny" multiple size="8" ng-model="config.function.partitionAttributes">
                    <option ng-repeat="column in schema" value="{{ column.name }}">{{ column.name }} ({{ column.type }})</option>
                  </select>
                </td>
              </tr>

              <tr ng-repeat="item in config.function.arguments" ng-model="config.function.arguments" ng-if="item.isRequired">
                <td style="text-transform: capitalize">{{ item.name.split('_').join(' ') | lowercase }}</td>
                <td>
                  <input type="text" ng-model="item.value" ng-if="item.datatype != 'COLUMNS'" data-toggle="tooltip" title="{{ getArgumentDescription(config.function.name, item.name) }}"
                    data-placement="right" />
                  <select ng-if="item.datatype == 'COLUMNS' && !item.allowsLists" ng-model="item.value" data-toggle="tooltip" title="{{ getArgumentDescription(config.function.name, item.name) }}" data-placement="right">
                    <option value="" selected>--No Selection--</option>
                    <option ng-repeat="column in schema" value="{{ column.name }}">{{ column.name }} ({{ column.type }})</option>
                  </select>

                  <select multiple size="8"
                    ng-if="item.datatype == 'COLUMNS' && item.allowsLists" ng-model="item.value" 
                    data-toggle="tooltip" title="{{ getArgumentDescription(config.function.name, item.name) }}" data-placement="right">
                    <option ng-repeat="column in schema" value="{{ column.name }}">{{ column.name }} ({{ column.type }})</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <div id="tabs-optional">
          
          <table class="table table-condensed table-hover">

            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="item in config.function.arguments" ng-model="config.function.arguments" ng-if="!item.isRequired">
                <td style="text-transform: capitalize">{{ item.name.split('_').join(' ') | lowercase }}</td>
                <td>
                  <input type="text" ng-model="item.value" ng-if="item.datatype != 'COLUMNS'" data-toggle="tooltip" title="{{ getArgumentDescription(config.function.name, item.name) }}"
                    data-placement="right" />

                  <select ng-if="item.datatype == 'COLUMNS' && !item.allowsLists" ng-model="item.value" data-toggle="tooltip" title="{{ getArgumentDescription(config.function.name, item.name) }}" data-placement="right">
                    <option value="" selected>--No Selection--</option>
                    <option ng-repeat="column in schema" value="{{ column.name }}">{{ column.name }} ({{ column.type }})</option>
                  </select>

                  <select multiple size="8"
                    ng-if="item.datatype == 'COLUMNS' && item.allowsLists" ng-model="item.value" 
                    data-toggle="tooltip" title="{{ getArgumentDescription(config.function.name, item.name) }}" data-placement="right">
                    <option ng-repeat="column in schema" value="{{ column.name }}">{{ column.name }} ({{ column.type }})</option>
                  </select>
                </td>
              </tr>
            </tbody>

          </table>

        </div>

      </div>


    </div>

  </div>
</div>